Source: dtkmodem
Section: libdevel
Priority: optional
Maintainer: Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 qhelpgenerator-qt5 | qttools5-dev-tools,
 libdtkcore-dev,
 librsvg2-dev,
 qtbase5-dev,
 graphviz,
 doxygen <!nodoc>
 modem (>= 1.14)
Standards-Version: 4.5.0

Package: libdtkmodem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template library
 DTK WWAN modem manager library
 .
 This package contains the shared libraries.

Package: libdtkmodem-dev
Architecture: any
Depends:${misc:Depends}, libdtk-template( =${binary:Version})
Description: Deepin Tool Kit template devel library
 DTK WWAN modem manager library.
 .
 This package contains the header files and static libraries.

Package: libdtkmodem-doc
Architecture: any
Build-Profiles: <!nodoc>
Depends:${misc:Depends}, libdtk-template-dev( =${binary:Version})
Description: Deepin Tool Kit template devel library
 DTK WWAN modem manager documentation.
 .
 This package contains the devel documents.
